page-login{
    .botao-googleplus{
        position: absolute;
        left: 0;
        top: 65%;
        width: 100%;
        text-align: center;
    }
    .botao-twitter{
        position: absolute;
        left: 0;
        top: 75%;
        width: 100%;
        text-align: center;
    }
    .botao-facebook{
        position: absolute;
        left: 0;
        top: 85%;
        width: 100%;
        text-align: center;
    }
    //Tira o scroll da pagina
    ::-webkit-scrollbar { 
    display: none; 
    }   
    .has-error{
        color: #ff0000;
        }
        .fab[mini] {
            margin: 8px;
            width: 40px;
            height: 40px;
            line-height: 40px;
        }
}