page-login{
    .botao-login{
        position: absolute;
        left: 0;
        top: 85%;
        width: 100%;
        text-align: center;
    }
    //coloca o fundo da pagina como o da imagem
    ion-content{
        background-image: url('../assets/img/home.jpg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
    //Tira o scroll da pagina
    ::-webkit-scrollbar { 
    display: none; 
    }   
   
}