page-conta {
    //Tira o scroll da pagina
    ::-webkit-scrollbar { 
        display: none; 
        } 
    .img{
        height: auto;
        width: auto;
        margin: auto;
        display: block;
    }
}
