<div padding>
  
    <ion-list>
      <ion-item *ngIf="user.photoURL != undefined" >
          <img text-center class="img" [src]="user.photoURL"/>
      </ion-item>

      <ion-item>
          <ion-label stacked>Uid</ion-label>
          <ion-input type="text" [value]="user.uid" disabled></ion-input>
      </ion-item>

      <ion-item *ngIf="user.displayName" >
          <ion-label stacked>Name</ion-label>
          <ion-input type="text" [value]="user.displayName" disabled></ion-input>
      </ion-item>
      
      <ion-item *ngIf="user.email" >
          <ion-label stacked>E-mail</ion-label>
          <ion-input type="email" [value]="user.email" disabled></ion-input>
      </ion-item>
      
      <ion-item>
          <ion-label stacked>Provider</ion-label>
          <ion-input type="text" [value]="user.providerId" disabled></ion-input>
      </ion-item>
    </ion-list>
    <div>
        <button ion-button icon-left block (click)="signOut()"><ion-icon name="log-out"></ion-icon> Logout</button>
    </div>
</div>