<div padding>
    <!-- Using ngFor to access the data from provider -->
    <ion-list *ngFor="let provider of user.providerData">
      <ion-item *ngIf="provider.photoURL" >
          <img text-center class="img" [src]="provider.photoURL"/>
      </ion-item>

      <ion-item>
          <ion-label stacked>Uid</ion-label>
          <ion-input type="text" [value]="provider.uid" disabled></ion-input>
      </ion-item>

      <ion-item *ngIf="provider.displayName">
          <ion-label stacked>Name</ion-label>
          <ion-input type="text" [value]="provider.displayName" disabled></ion-input>
      </ion-item>
      
      <ion-item *ngIf="provider.email" >
          <ion-label stacked>E-mail</ion-label>
          <ion-input type="email" [value]="provider.email" disabled></ion-input>
      </ion-item>
      
      <ion-item>
          <ion-label stacked>Provider</ion-label>
          <ion-input type="text" [value]="provider.providerId" disabled></ion-input>
      </ion-item>
    </ion-list>
    <div>
        <button ion-button icon-left block (click)="signOut()"><ion-icon name="log-out"></ion-icon> Logout</button>
    </div>
</div>